{
  "arrowParens": "always",
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["store/*/*.js", "store/*.js", "helpers/*.js", "helpers/*/*.js"],
      "options": {
        "arrowParens": "avoid"
      }
    }
  ]
}
